SITE_NAME=
SITE_EMAIL=

# for Worldmove real env
ORDER_AND_REDEEM_URL=https://fmshippingsys.fastmove.com.tw/Api/SOrder/mybuyesimRedemption
MERCHANT_ID=
TOKEN=
DEPT_ID=

# for Worldmove testing environment
NODE_TLS_REJECT_UNAUTHORIZED=0
ORDER_AND_REDEEM_URL=https://tfmshippingsys.fastmove.com.tw/Api/SOrder/mybuyesimRedemption
MERCHANT_ID=
TOKEN=
DEPT_ID=

#for render:
NEXT_PUBLIC_IS_RENDER=

#stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

#email:
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=

#google service:
GOOGLE_SERVICE_ACCOUNT_JSON=
REFERRAL_GOOGLE_SHEET_ID=
DB_SHEET_ID=

#DB
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=          
DB_NAME=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DBNAME"
